{% extends 'userindex.html' %}
{% block content %}

<!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">Cart</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active text-white">Cart</li>
        </ol>
    </div>
    <!-- Single Page Header End -->


    <!-- Cart Page Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th scope="col">Products</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                        <th>Handle</th>
                    </tr>
                {% for i in data %}
                    <tr>
                        <td><img src="{{i.prdid.productimg.url}}" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt=""></td>
                        <td>{{i.prdid.productname}}</td>
                        <td>{{i.prdid.productprc}}</td>
                        <td>{{i.cqty}}</td>
                        <td>{{i.ctot}}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
            <a href="{% url 'checkout' %}"><button class="w-50 btn form-control border-secondary py-3 bg-white text-primary ">Checkout</button></a>
        </div>
       
    </div>

    <!-- Cart Page End -->
{% endblock %}