{% extends 'userindex.html' %}
{% block content %}
<!-- Hero Start -->
    {% if 'uid' not in request.session %}
    <div class="container-fluid py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-md-12 col-lg-7">
                    <br><br><br><br><br>
                    <h4>Please login for further details!</h4>
                    <br>
                </div>
            </div>
        </div>
    </div>
    {% else %}
        {% for i in pdata %}
            <div class="container-fluid py-5 mb-5 hero-header">
                <div class="container py-5">
                    <div class="row g-5 align-items-center">
                        <div class="col-md-12 col-lg-7">

                            <h1 class="mb-5 display-3 text-primary">{{i.productname}}</h1>
                            <h4 class="mb-3 text-secondary">At your doorstep</h4>
                        </div>
                        <div class="col-md-12 col-lg-5">
                            <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active rounded">
                                        <img src="{{i.productimg.url}}" class="img-fluid w-100 h-100 bg-secondary rounded" alt="First slide">
                                    
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-4 justify-content-end">
            <div class="col-8"></div>
                <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
                    <div class="bg-light rounded">
                        <form action="{% url 'cartdata' id=i.id %}" method="post">
                            {% csrf_token %}
                            <div class="p-4">
                            
                                <h1 class="display-6 mb-4">Cart <span class="fw-normal">Total</span></h1>
                                <div class="d-flex justify-content-between mb-4">
                                    <label>Quantity</label>
                                    <input type="number" id="qty" name ="prdqty" value="1" min="1" max="30" class="mb-0 me-4">
                                    <input class="mb-0" type="hidden" id="prc" value="{{i.productprc}}">
                                    <label>Rs</label>
                                    <input type="text" class="mb-0" id="tot" name ="prdtot" value="{{i.productprc}}">
                                </div>
                                <div class="d-flex justify-content-between">
                                    <h5 class="mb-0 me-4">Shipping</h5>
                                    <div class="">
                                        <p class="mb-0">Flat rate: Rs 50.00</p>
                                    </div>
                                </div>
                                <p class="mb-0 text-end">Shipping all over India.</p>
                            </div>
                            <button class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4" type="submit">Add to Cart</button>
                        </form>
                    </div>
                </div>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
            <script>
                $(document).ready(function()
                    {
                        $('#qty').on('change', function(){
                            var quantity=$('#qty').val();
                            var price=$('#prc').val();
                            var total=parseInt(quantity)*parseInt(price);
                            $('#tot').val(total);
                        })
                    })
            </script>
        {% endfor %}
        
    {% endif %}

{% endblock %}